.App {
  height: 100%;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    ellipse 100% 100% at 100% 100%,
    rgb(251, 84, 43) 0%, rgb(169, 27, 120) 46%, rgb(57, 45, 209) 100%);
  transition: filter 250ms linear;
}

.App.is-locked {
  filter: saturate(25%);
}

.Logo {
  background-image: url('../images/brave.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 200px;
  height: 200px;
}
