@keyframes blink {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.LockScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    ellipse 100% 100% at 100% 100%,
    rgb(251, 84, 43) 0%, rgb(169, 27, 120) 46%, rgb(57, 45, 209) 100%);
}

.PasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 100ms linear;
  will-change: opacity transform;
  user-select: none;
}

.LockScreen:not(.is-pending) .PasswordForm {
  opacity: 0;
  transform: scale(0.75);
}

.PasswordHelpText {
  color: #fff;
}

.PasswordInput {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  height: 3rem;
}

.PasswordInput-character {
  font-family: Poppins, sans-serif;
  font-size: 4rem;
  color: #fff;
}

.PasswordInput-cursor {
  height: 4rem;
  width: 2rem;
  background-color: #fff;
  animation-name: blink;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.LockScreen-logo {
  margin-top: 5rem;
  width: 10rem;
  height: 10rem;
  background-image: url('../images/brave.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
  transition: opacity 500ms linear 250ms;
  will-change: opacity;
}

.LockScreen:not(.is-pending) .LockScreen-logo {
  opacity: 1;
}
