.Profile {
  background-color: var(--color-background);
}

.Profile-hero {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    ellipse 100% 100% at 100% 100%,
    rgb(251, 84, 43) 0%, rgb(169, 27, 120) 46%, rgb(57, 45, 209) 100%);
  color: var(--color-body-text-inverted);
}

.Profile-avatar {
  display: block;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  width: 10rem;
  height: 10rem;
}

.Profile-heroCopy {
  margin-left: 3rem;
  max-width: 32vw;
}

.Profile-header {
  margin-bottom: 1rem;
  font-family: Poppins, sans-serif;
  font-size: 3rem;
}

.Profile-strapline {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.Profile-description {
  font-size: 1.1rem;
}

.Profile-scrollHint {
  position: absolute;
  bottom: 15vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.15rem solid #fff;
  width: 1.5rem;
  height: 2rem;
  border-radius: 1rem;
  z-index: 1;
}

.Profile-scrollHint::before {
  position: absolute;
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}

@keyframes scroll {
  0% {
    transform: translateY(-0.4rem);
  }

  15% {
    transform: translateY(-0.1rem);
  }

  30% {
    transform: translateY(-0.4rem);
  }

  45% {
    transform: translateY(-0.1rem);
  }

  60% {
    transform: translateY(-0.4rem);
  }
}

.Profile-scrollHint::after {
  content: "";
  display: block;
  width: 0.2rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  transform: translateY(-0.4rem);
  animation-name: scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.Profile-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style: none;
  background-color: var(--color-body-text);
  color: var(--color-body-text-inverted);
}

.Profile-skill {
  text-align: center;
}

.Profile-skill:not(:first-child) {
  margin-left: 4rem;
}

.Profile-skillName {
  font-family: var(--font-header-family);
  font-size: 1.25rem;
  line-height: 1;
}

.Profile-skillProficiency[data-score='3']::after {
  content: '\2022\2022\2022';
}

.Profile-skillProficiency[data-score='4']::after {
  content: '\2022\2022\2022\2022';
}

.Profile-skillProficiency[data-score='5']::after {
  content: '\2022\2022\2022\2022\2022';
}

.Profile-skillProficiency {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-accent2);
}

.Profile-sections {
  margin: 0 auto;
  max-width: 40vw;
  padding: 4rem 0;
}

.Profile-section {
  position: relative;
  padding: 1.5rem 0 1.5rem 2rem;
  margin-left: 8rem;
  border-left: 0.25rem solid var(--color-accent1);
}

.Profile-section::before {
  content: '';
  display: block;
  position: absolute;
  left: -0.625rem;
  top: 2.25rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-accent1);
  border-radius: 1rem;
}

.Profile-section::after {
  content: attr(data-type);
  display: block;
  position: absolute;
  left: -1.5rem;
  top: 2rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-body-text-inverted);
  border-radius: 0.5rem;
  transform: translateX(-100%);
}

.Profile-section[data-type='Project']::after {
  background-color: var(--color-accent1);
}

.Profile-section[data-type='Employment']::after {
  background-color: var(--color-accent2);
}

.Profile-section-tagLine {
  font-family: var(--font-header-family);
  font-weight: 700;
  text-transform: uppercase;
}

.Profile-section[data-type='Project'] .Profile-section-tagLine {
  color: var(--color-accent1);
}

.Profile-section[data-type='Employment'] .Profile-section-tagLine {
  color: var(--color-accent2);
}

.Profile-section-title {
  font-family: var(--font-header-family);
  font-size: 1.5rem;
  font-weight: 700;
}

.Profile-section-url {
  display: block;
  margin-top: 0.5rem;
  color: var(--color-accent1);
}

.Profile-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 0;
  background-image: linear-gradient(
    -20.434948822922024deg,
    rgb(40, 25, 198) 0%, rgb(114,12,129) 100%);
  overflow: hidden;
}

.Profile-footerCopy {
  position: relative;
  max-width: 34vw;
  padding-left: 12rem;
  color: var(--color-body-text-inverted);
  font-size: 1.5rem;
  z-index: 1;
}

.Profile-footerCopy::before {
  position: absolute;
  top: -4rem;
  left: 3rem;
  display: block;
  content: '\201c';
  font-size: 20rem;
  line-height: 1;
  z-index: 0;
}
